:root {
    margin: 0;
    padding: 0;
    --navbg: #b434a3;
    --navtext: #f5f5dc;
    --welcome: #263024;
    --welcometext: #a55097;
    --projects: #080529;
    --projectstext: #F5F5DC;
    --projectsfg: #030027;
    --contact: #100714;
    --contacttext: #e2d5e7;
    --ahoverdescription: #a53095;
}
html {
    font-size: 14px;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
body {
    margin: 0 !important;
}
p a {
    color: white;
}
p a:hover, p a:active {
    color: var(--projectsfg);
    background-color: white;
}
#navbar {
    width: 100%;
    min-width: 350px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: var(--navbg);
    font-family: 'Figtree', sans-serif;
    font-size: 100%;
}
nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
ul li {
    display: flex;
    width: 20px;
    justify-content: center;
    text-align: center;
}
nav a {
    color: var(--navtext);
    text-decoration: underline;
    text-decoration-style: wavy;
    text-transform: uppercase;
    padding: 3% 8% 3% 8%;
}
nav a:hover, nav a:active {
    background-color: var(--navtext);
    color: var(--navbg);
}
#welcome-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--welcometext);
    background: linear-gradient(
        #283832,
        #24302b
    );
}
h1, p {
    font-family: 'Gentium Plus', serif;
}
#welcome-section h1 {
    font-weight: 700;
    font-size: 500%;
    text-transform: uppercase;
    text-decoration: wavy;
    text-decoration-line: underline;
    margin: 0;
}
#welcome-section p {
    font-size: 190%;
    text-transform: lowercase;
}
#projects {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: var(--projects);
    color: var(--projectstext);
    font-size: 170%; /*ATENÇÃO*/
    gap: 10px;
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    width: 80%;
    max-height: 35%;
}
.about h1, .about p {
    background-color: var(--projectsfg) !important;
    text-align: center;
}
.about h1 {
    text-decoration: wavy;
    text-decoration-line: underline;
    line-height: 0;
    font-size: 17px;
    padding: 10px 10px 20px 10px;
    margin: 5px 5px 0 5px;
}
.about p {
    font-size: 15px;
    margin: 10px 15px;
    padding: 5px;
}
.project-tile {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    max-height: 70%;
    background-color: var(--projectsfg);
}
.project-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--projectsfg);
    font-size: 17px;
    height: 50px;
}
.project-intro p {
    text-decoration: wavy;
    text-decoration-line: underline;
    text-transform: uppercase;
}
.gallery {
   height: 100%; 
}
.flex-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--projects);
    margin: 10px;
    max-height: 100px;
    min-height: 60px;
}
.flex-div:hover {
    background-color: var(--projectsfg);
}
.image {
    max-width: 100px;
    max-height: 100px;
    min-width: 60px;
    min-height: 60px;
    object-fit: cover;
    flex-grow: 1;
}
.description {
    flex-grow: 2;
    color: var(--projectstext);
    align-self: center;
    text-align: center;
    font-size: 15px;
}
#contact {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    background-color: var(--contact);
    color: var(--contacttext);
    font-size: 150%;
    gap: 10px;
}
.contact-intro {
    margin-top: 100px;
    text-decoration: wavy;
    text-decoration-line: underline;
}
.socials a, .socials a:hover, .socials a:visited {
    color: white;
}
.socials {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 20px;
    padding: 20px 0;
    gap: 25px;
}
.fa-brands {
    width: 100%;
    height: 100%;
}
.fa-solid {
    width: 100%;
    height: 100%;
}
.hover {
    transition: transform 0.3s;
}
.hover:hover {
    transform: scale(1.2);
}
a, a:visited {
    text-decoration-style: none;
    text-decoration: none;
    text-decoration-line: none;
}
a:hover .description, a:active .description {
    color: white;
    background-color: var(--projects);
}
@media only screen and (max-width: 375px)
{
   .about {
    width: 0;
    height: 0;
    display: none;
   } 
   .project-tile {
    margin-top: 30%;
   }
}
@media only screen and (aspect-ratio: 3/4) 
{
    .about {
        margin-top: 150px;
        width: 60%;
    }
    .about h1 {
        font-size: 20px;
    }
    .about p {
        font-size: 17px;
    }
    .project-tile {
        width: 60%;
        max-height: 70%;
    }
    .project-intro {
        font-size: 20px;
        height: 60px;
    }
    .flex-div {
        margin: 15px;
        height: 15%;
    }
    .flex-div:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .image {
        max-width: 150px;
        max-height: 150px;
    }
    .description {
        font-size: 17px;
    }
    .contact-intro {
        margin-top: 400px;
    }
    .socials {
        width: 70%;
        height: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 20px;
        padding: 20px 0;
        gap: 25px;
    }
}
@media only screen and (min-width: 1280px)
{
    #projects {
        flex-direction: row;
        justify-content: center;
    }
    .about {
        margin-top: 30px;
        width: 25%;
        height: 70%;
        max-height: 70%;
        padding: 10px 15px;
        justify-content: center;
    }
    .about h1 {
        padding: 10px 15px;
        font-size: 23px;
        padding: 15px 20px 20px;
        margin: 15px 20px 25px;
    }
    .about p {
        margin: 0 15px;
        padding: 15px;
        font-size: 20px;
    }
    .project-tile {
        margin-top: 50px;
        width: 60%;
        justify-content: center;
        height: 80%;
        max-height: 80%;
        gap: 15px;
    }
    .project-intro {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        background-color: var(--projects);
        font-size: 20px;
        height: 10%;
        padding: 0;
    }
    .flex-div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 50px;
        background-color: var(--projects);
        max-height: 75px;
        min-height: 50px;
        height: 50px;
        margin: 3%;
    }
    .image {
        max-width: 75px;
        max-height: 75px;
        min-width: 50px;
        min-height: 50px;
    }
    .description {
        align-self: center;
        font-size: 20px;
        padding: 3%;
        margin-left: 45px;
    }
    .contact-intro {
        margin-top: 15%;
        align-self: center;
        text-decoration: wavy;
        text-decoration-line: underline;
    }
    .hover:hover {
        transform: scale(1.1);
    }
}
@media only screen and (min-width: 1918px)
{
    html {
        font-size: 16px;
    }
    ul li {
        width: 100px;
    }
    nav a {
        padding: 5%;
    }
    #projects {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        height: 100vh;
    }
    .about {
        margin-top: 100px;
        width: 15%;
        height: 80%;
        max-height: 80%;
        padding: 10px 15px;
        justify-content: center;
    }
    .about h1 {
        padding: 10px 15px;
        font-size: 23px;
        padding: 15px 20px 20px;
        margin: 15px 20px 25px;
    }
    .about p {
        margin: 0 15px;
        padding: 15px;
        font-size: 20px;
    }
    .project-tile {
        margin-top: 110px;
        padding-left: 20px;
        width: 50%;
        justify-content: center;
        height: 100%;
        max-height: 83%;
        background-color: var(--projects);
    }
    .project-intro {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        background-color: var(--projects);
        font-size: 20px;
        height: 10%;
        padding: 0;
    }
    .project-intro p {
        padding: 10px 25px;
        background-color: var(--projectsfg);
    }
    .gallery {
        background-color: var(--projectsfg);
    }
    .flex-div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--projects);
        margin: 20px;
        max-height: 200px;
        min-height: 100px;
        height: 100px;
    }
    .image {
        max-width: 200px;
        max-height: 200px;
        min-width: 100px;
        min-height: 100px;
        object-fit: cover;
        flex-grow: 1;
    }
    .description {
        align-self: center;
        font-size: 20px;
        padding: 45px;
        margin-left: 45px;
        flex-grow: 2;
    }
    .description:hover {
        background-color: var(--projectsfg);
    }
    .contact-intro {
        margin-top: 15%;
        align-self: center;
        text-decoration: wavy;
        text-decoration-line: underline;
    }
}